{% extends 'base.html' %}

{% block content %}
    <h1>Chat da Corrida</h1>

    {% for mensagem in mensagens %}
        <p>{{ mensagem.usuario }} ({{ mensagem.hora }}): {{ mensagem.texto }}</p>
    {% endfor %}

    <form method="post" action="{% if corrida.id %}{% url 'chat:chat_corrida' corrida_id=corrida.id %}{% endif %}">
        {% csrf_token %}
        <label for="{{ form.texto.id_for_label }}">Mensagem:</label>
        {{ form.texto }}
        <button type="submit">Enviar Mensagem</button>
    </form>

    <button onclick="history.back()">Voltar</button>
{% endblock %}
