{% extends 'base.html' %}

{% block title %}
Editar perfil
{% endblock title %}

{% block content %}
<h1>Atualizar dados do perfil</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'passageiro:edit' usuario.id%}">
  {% csrf_token %}
    <p>
        <label for="id_foto">Foto:</label>
        <img src="{{ usuario.foto.url }}" style="max-width: 450px; max-height: 300px">
        <input type="file" name="foto" id="id_foto"/>
    </p>
    <p>
        <label for="id_username">Nome de usuário:</label>
        <input type="text" name="username" id="id_username" value="{{usuario.username}}" />
    </p>
    <p>
        <label for="id_first_name">Nome:</label>
        <input type="text" name="first_name" id="id_first_name" value="{{usuario.first_name}}" />
    </p>
    <p>
        <label for="id_last_name">Sobrenome:</label>
        <input type="text" name="last_name" id="id_last_name" value="{{usuario.last_name}}" />
    </p>
    <p>
        <label for="id_email">Email:</label>
        <input type="text" name="email" id="id_email" value="{{usuario.email}}" />
    </p>
    <p>
        <label for="id_telefone">Telefone:</label>
        <input maxlength=11 type="text" name="telefone" id="id_telefone" value="{{usuario.telefone}}" />
    </p>
    <p>
        <label for="id_RG">RG:</label>
        <input maxlength=9 type="text" name="RG" id="id_RG" value="{{usuario.RG}}" />
    </p>

    
  
    <button type="submit">Salvar alterações</button>
    <a class="exit" href="{% url 'passageiro:initial' user.id%}">Cancelar</a>
</form>

{% endblock content %}