<h1>Passageirooooo</h1>
    <p> {{ user.id }} </p>
    <p> {{ user.username }} </p>
    <button><a href="{% url 'passageiro:list-accepted' user.id 'accepted'%}">Minhas corridas</a></button>
    <button><a href="{% url 'passageiro:edit' user.id %}">Editar perfil</a></button>
    <button><a href="{% url 'passageiro:search' user.id %}">Procurar corridas</a></button>
    <button><a href="{% url 'accounts:afterlogin' user.id %}">Escolher ator</a></button>
    <button><a href="{% url 'logout' %}">Logout</a></button>

{% if notificacoes %}
{% for notificacao in notificacoes %}
<h1>Notificações</h1>
<p>{{ notificacao.texto }}</p>
<button><a href="{% url 'passageiro:read_notificacao' user.id notificacao.id %}">Marcar como lida</a></button>
{% endfor %}
{% endif %}