{% extends 'base.html' %}
{% block content %}
<a href="{% url 'passageiro:initial' user.id %}">< Voltar</a>
    <h1>Lista de corridas {{ title }}</h1>
    <ul>
        <li><a href="{% url 'passageiro:list-accepted' user.id 'accepted' %}">Aceitas</a></li>
        <li><a href="{% url 'passageiro:list-requested' user.id 'requested' %}">Solicitadas</a></li>
        <li><a href="{% url 'passageiro:list-rejected' user.id 'rejected' %}">Rejeitadas</a></li>
    </ul>
    {% if corrida_list %}
    <section>
        {% for corrida in corrida_list %}
        <article>
            <p>{{ corrida.id }}: {{ corrida.dia }}</p>
        </article>
        {% endfor %}
    </section>
    {% else %}
        <p>Você não tem corridas para essa categoria.</p>
    {% endif %}
{% endblock %}
```