{% extends 'base.html' %}

{% block title %}
Detalhes da corrida
{% endblock title %}

{% block content %}
<h1> Detalhes da corrida </h1>
<h3>
  Dia: {{ corrida.dia }}
  <br>
  Local de partida: {{ carona.local_partida }}  
  <br>
  Horario de partida: {{carona.horario_partida}}
  <br>
  Local de chegada: {{ carona.local_chegada }}  
  <br>
  Horario de chegada: {{carona.horario_chegada}}
  <br>
  Placa: {{carona.placa_veiculo}}
  <br>
</h3>
<div class="flex2">
  <a class="flex" href="{% url 'passageiro:condutordetail' user.id corrida.carona.condutor.id %}">Ver condutor</a>
  {% if corrida.contains and corrida.ativa %}
  <a href="{% url 'chat:chat_corrida' user.id corrida.id 1 %}"> Chat </a>
  <a class="exit" href="{% url 'passageiro:leave' user.id corrida.id %}">Sair da corrida</a>
  {% endif %}
  <a class="voltar" onclick="history.back()">Voltar</a>
</div>
{% endblock content %}



