{% extends 'base.html' %}

{% block title %}
Detalhes da corrida
{% endblock title %}

{% block content %}
<h1> Detalhes da corrida </h1>
<h3>
  Dia: {{ corrida.dia }}
  <br>
  Local de partida: {{ carona.local_partida }}  
  <br>
  Horario de partida: {{carona.horario_partida}}
  <br>
  Local de chegada: {{ carona.local_chegada }}  
  <br>
  Horario de chegada: {{carona.horario_chegada}}
  <br>
  Placa: {{carona.placa_veiculo}}
  <br>
</h3>
{% if corrida.contains and corrida.ativa %} <a class="exit" href="{% url 'passageiro:leave' user.id corrida.id %}">Sair da corrida</a>
{% endif %}
<a onclick="history.back()">Voltar</a>
{% endblock content %}

