{% extends 'base.html' %}

{% block title %}
Pesquisar
{% endblock title %}

{% block content %}
<h2>Busca de corridas</h2>
<form action="{% url 'passageiro:search' user.id %}" method="post">
    {% csrf_token %}
    <p>
        <label for="id_dia">Dia:</label>
        <input type="date" name="dia" id="id_dia" min="{% now "Y-m-d" %}" />
    </p>
    <p>
        <label for="id_local_partida">Local de partida:</label>
        <input type="text" name="local_partida" id="id_local_partida" />
    </p>
    <p>
        <label for="id_local_chegada">Local de chegada:</label>
        <input type="text" name="local_chegada" id="id_local_chegada" />
    </p>
    <p>
        <label for="id_horario_chegada">Horário de chegada:</label>
        <input type="time" name="horario_chegada" id="id_horario_chegada" />
    </p>
    <button type="submit">Buscar</button>
</form>



<h2>Resultado da busca</h2>
{% if corrida_list %}
<section>
    {% for corrida in corrida_list %}
    <article class="flex">
        <p> {{ corrida.dia }} saindo de {{ corrida.carona.local_partida }} ({{ corrida.carona.horario_partida }})
            para {{ corrida.carona.local_chegada }} ({{ corrida.carona.horario_chegada }}) || Vagas: {{ corrida.vagas }}
        </p>
        <a href="{% url 'passageiro:detail' user.id corrida.id %}">Ver detalhes</a>
        <form method="post" action="{% url 'passageiro:request' user.id corrida.id%}">
            {% csrf_token %}
            <button
            {% if corrida.exists %}disabled{% endif %}
            {% if not corrida.exists %}type="submit"{% endif %}>
            {{corrida.title}}
            </button>
        </form>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma corrida para a busca</p>
{% endif %}

<a class="voltar" href="{% url 'passageiro:initial' user.id %}">Voltar</a>
{% endblock content %}