{% extends 'base.html' %}
{% block content %}
<div class="afterlogin">
{% if user.is_condutor %}
    <a href="{% url 'condutor:initial' user.id%}">Logar como condutor</a>
{% else %}
    <a href="{% url 'accounts:condutor' user.id%}">Cadastrar condutor</a>
{% endif %}
{% if user.is_passageiro %}
    <a href="{% url 'passageiro:initial' user.id%}">Logar como passageiro</a>
{% else %}
    <form method="post" action="{% url 'accounts:passageiro' user.id %}">
        {% csrf_token %}
        <button type="submit">Cadastrar passageiro</button>
    </form>
{% endif %}
</div>
{% endblock content %}