{% extends 'base.html' %}
{% block content %}
{% if user.is_condutor %}
    <li><a href="{% url 'condutor:initial' user.id%}">Logar como condutor</a></li>
{% else %}
    <li><a href="{% url 'accounts:signcondutor' user.id%}">Cadastrar condutor</a></li>
{% endif %}
{% if user.is_passageiro %}
    <li><a href="{% url 'passageiro:initial' user.id%}">Logar como passageiro</a></li>
{% else %}
    <form method="post" action="{% url 'accounts:passageiro' user.id %}">
        {% csrf_token %}
        <button type="submit">Cadastrar passageiro</button>
    </form>
{% endif %}
{% endblock content %}