{% extends 'base.html' %}

{% block title %}
Avaliar passageiros
{% endblock title %}

{% block content %}

<h1>Avalie seus passageiros</h1>
{% if passageiros_corrida %}
{% for passageiro in passageiros_corrida %}
<p>{{passageiro.passageiro.usuario.first_name}} {{passageiro.passageiro.usuario.last_name}} 
  em relação a corrida do dia {{corrida.dia}}</p>


<form method="post" action="{% url 'condutor:avalia_passageiro_individual' user.id corrida.id passageiro.passageiro.id %}">
  {% csrf_token %}
  <label for="id_nota">Nota:</label>
  <div class="rating">
    <input type="radio" name="nota" value="5" id="star5" /><label for="star5" title="5 estrelas"></label>
    <input type="radio" name="nota" value="4" id="star4" /><label for="star4" title="4 estrelas"></label>
    <input type="radio" name="nota" value="3" id="star3" /><label for="star3" title="3 estrelas"></label>
    <input type="radio" name="nota" value="2" id="star2" /><label for="star2" title="2 estrelas"></label>
    <input type="radio" name="nota" value="1" id="star1" /><label for="star1" title="1 estrela"></label>
  </div>
  <button type="submit">Avaliar</button>
</form>

<br>
{% endfor %}
{% else %}
<h3>Todos passageiros já foram avaliados.</h3>
<a class="voltar" href="{% url 'condutor:detail_carona' user.id corrida.carona.id %}">Voltar</a>
{% endif %}
{% endblock content %}