{% extends 'base.html' %}

{% block title %}
Deletar corrida
{% endblock title %}

{% block content %}

  <form class="flex2" method="POST" action="{% url 'condutor:delete_corrida' user.id corrida.id %}">
    {% csrf_token %}
    <p>
      Confirmar - Deletar a corrida do dia {{corrida.dia}}?
    </p>
    <button class="exit" type="submit">Cancelar</button>
  </form>
  <a class="voltar" href="{% url 'condutor:detail_carona' user.id corrida.carona.id%}">Voltar para a tela da carona</a>

{% endblock content %}