{% extends 'base.html' %}

{% block title %}
Detalhes da carona
{% endblock title %}

{% block content %}

<h1> Carona </h1>
<h3>
  Local de partida {{ carona.local_partida }}  
  <br>
  Horario de partida {{carona.horario_partida}}
  <br>
  Local de chegada {{ carona.local_chegada }}  
  <br>
  Horario de chegada {{carona.horario_chegada}}
  <br>
  Placa {{carona.placa_veiculo}}
  <br>
</h3>
<div class="flex2">
  <a href="{% url 'condutor:edit_carona' user.id carona.id %}">Editar detalhes da carona</a>
  <a href="{% url 'condutor:create_corrida' user.id carona.id %}">Criar nova corrida nesta carona</a>
</div>

<h1> Corridas ativas dessa carona </h1>

{% for info_corrida in info_corridas_passageiros %}
  <h2>corrida do dia {{ info_corrida.corrida.dia }} </h2>

  <div class="flex2">
  <a href="{% url 'chat:chat_corrida' user.id info_corrida.corrida.id 0 %}"> Chat </a>
  <a class="voltar" href="{% url 'condutor:encerrar_corrida' user.id info_corrida.corrida.id %}">Encerrar corrida</a>
  <a class="exit" href="{% url 'condutor:delete_corrida' user.id info_corrida.corrida.id %}">Cancelar corrida</a>
  </div>

  <h3>Passageiros da corrida</h3>
  {% if info_corrida.passageiros_aceitos %}
    {% for passageiro_aceito in info_corrida.passageiros_aceitos %}
    <div class="flex2">
      <p>{{passageiro_aceito.usuario.first_name}} {{passageiro_aceito.usuario.last_name}}, Telefone: {{passageiro_aceito.usuario.telefone}}, Nota {{passageiro_aceito.nota_media}}</p>
      <a class="flex" href="{% url 'condutor:passageirodetail' user.id passageiro_aceito.id %}">Ver perfil</a>
    </div>
    {% endfor %}
  {% else %}
    <p>Sem passageiros</p>
  {% endif %}

  <h3>Passageiros solicitando entrada</h3>
  {% if info_corrida.passageiros_a_aceitar %}
    {% for passageiro_solicitante in info_corrida.passageiros_a_aceitar %}
    <div class="flex">
      <p>{{passageiro_solicitante.usuario.first_name}} {{passageiro_solicitante.usuario.last_name}}, Telefone: {{passageiro_solicitante.usuario.telefone}}, Nota: {{passageiro_solicitante.nota_media}}</p>
      <a class="flex" href="{% url 'condutor:passageirodetail' user.id passageiro_solicitante.id %}">Ver perfil</a>
      <a href="{% url 'condutor:aceitar_passageiro_corrida' user.id info_corrida.corrida.id passageiro_solicitante.id %}">Aceitar</a>
      <a class="exit" href="{% url 'condutor:rejeitar_passageiro_corrida' user.id info_corrida.corrida.id passageiro_solicitante.id %}">Rejeitar</a>
    </div>
    {% endfor %}
    {% else %}
    <p>Sem solicitações</p>
  {% endif %}

  {% endfor %}
  <a class="voltar" href="{% url 'condutor:initial' user.id %}">Voltar</a>
{% endblock content %}